
<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header" style="padding-top:4px;padding-bottom:6px">
            <a href="https://www.agilitihealth.com" target="_blank" title="Go To Agility"><img class="main-logo" src="~/images/logo-header55.png" alt="" /></a>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li>
                        <a href="/uhsCH/Home" title="Home Page">
                            <span class="educate-icon educate-home icon-wrap"></span>
                            <span class="mini-click-non">Home</span>
                        </a>
                    </li>
                    <li>
                        <a class="has-arrow" href="mailbox.html" aria-expanded="false" title="Select Module"><span class="educate-icon educate-apps icon-wrap"></span> <span class="mini-click-non">App Modules</span></a>
                        <ul class="submenu-angle app-mini-nb-dp" aria-expanded="false">
                            @Html.Action("SBagTox", "uhsCH")
                        </ul>
                    </li>
                    @if (ViewBag.userTypeID == 2)
                    {
                        <li>
                            <a title="System Administration" href="/formsCRUD/Index?projectID=1&taskOrderID=1&Int1=1" target="_blank" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">System</span></a>
                        </li>

                    }

                </ul>
            </nav>
        </div>
    </nav>
</div>