
<style>
    .text-right
       {
           display:none
       }
</style>


<div class="row" align="center" style="font-size:x-small" >
    &copy; <a style="color:#367EAD">2018</a><a style="color:white"> powered by </a><a href="http://www.trizma.com" target="_blank" style="color:white"> Trizma </a><a style="color:#367EAD"> Data Insight team</a>
</div>
