<li>
    <a data-toggle="collapse" data-target="#Charts" href="#">Home <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
    <ul class="collapse dropdown-header-top">
        <li><a href="index.html">Dashboard v.1</a></li>
        <li><a href="index-1.html">Dashboard v.2</a></li>
        <li><a href="index-3.html">Dashboard v.3</a></li>
        <li><a href="analytics.html">Analytics</a></li>
        <li><a href="widgets.html">Widgets</a></li>
    </ul>
</li>
<li><a href="events.html">Event</a></li>

<li>
    <a data-toggle="collapse" data-target="#Appviewsmob" href="#">App Modules <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
    <ul id="Appviewsmob" class="collapse dropdown-header-top">
        <li>
            <a href="basic-form-element.html">Basic Form Elements</a>
        </li>
        <li>
            <a href="advance-form-element.html">Advanced Form Elements</a>
        </li>
        <li>
            <a href="password-meter.html">Password Meter</a>
        </li>
        <li>
            <a href="multi-upload.html">Multi Upload</a>
        </li>
        <li>
            <a href="tinymc.html">Text Editor</a>
        </li>
        <li>
            <a href="dual-list-box.html">Dual List Box</a>
        </li>
    </ul>
</li>
