

<div class="item">
    <!-- <div class="container"> -->
    <div class="row">
        <div class="col-md-9 col-md-offset-1 col-sm-9 col-sm-offset-1">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-img">
                    <img src="~/images/homePage/imgP01.png" alt="Images" class="img-responsive">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-text">
                    <h2>Software Engineering <span class="fh5co-border"></span></h2>
                    <p>Building custom Web Applications according to business requirements. Partnership driven Software Engineering conceptual development.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- </div> -->
</div>
<!-- END .item -->
<div class="item">
    <div class="row">
        <div class="col-md-9 col-md-offset-1 col-sm-9 col-sm-offset-1">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-img">
                    <img src="~/images/homePage/imgP02.png" alt="Images" class="img-responsive">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-text">
                    <h2>Data Architecture<span class="fh5co-border"></span></h2>
                    <p>Developing business data architecture. Building transactional database and data warehouse along with software development.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END .item -->

<div class="item">
    <div class="row">
        <div class="col-md-9 col-md-offset-1 col-sm-9 col-sm-offset-1">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-img">
                    <img src="~/images/homePage/imgP03.png" alt="Images" class="img-responsive">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-text">
                    <h2>Data Analytics<span class="fh5co-border"></span></h2>
                    <p>Data science methods used for data mining and analytics. Data optimization, data management and reporting services per request.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END .item -->
<div class="item">
    <div class="row">
        <div class="col-md-9 col-md-offset-1 col-sm-9 col-sm-offset-1">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-img">
                    <img src="~/images/homePage/imgP04.png" alt="Images" class="img-responsive">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-slide-text">
                    <h2>Process Improvement<span class="fh5co-border"></span></h2>
                    <p>Business process analysis. Process improvement using Lean methodology, process automatization, cost reduction, overall satisfaction.</p>
                </div>
            </div>
        </div>
    </div>
</div>