
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>UHS District</title>
    <!-- CSS -->
    <link href="~/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">

    <link href="~/css/uhsHome/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/animate.min.css" rel="stylesheet">
    <link href="~/css/owl.carousel.css" rel="stylesheet">
    <link href="~/css/owl.transitions.css" rel="stylesheet">
    <link href="~/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/css/uhsHome/main.css" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet">


    <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />


    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">



    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/images/ico/apple-touch-icon-57-precomposed.png">

    <style>
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            /*padding-top: 10px;*/ /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 100%;
        }

        .modalb {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 110px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modalb-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 30%;
        }


        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
        /* The Close Button */
        .closeb {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .closeb:hover,
            .closeb:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

        .closec {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .closec:hover,
            .closec:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

        .closed {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .closed:hover,
            .closed:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

        .close05d {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close05d:hover,
            .close05d:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

        .close05w {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close05w:hover,
            .close05w:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

        .docidstore {
            display: none;
        }

        .thStyle1 {
            font-size: smaller;
            text-align: center;
            color: white;
            min-width: 30px;
        }

        .thStyle2 {
            font-size: x-small;
            color: white;
        }

        .thStyle3 {
            text-align: center;
            font-size: x-small;
            min-width: 25px;
            max-width: 25px;
            color: white;
        }

        .thStyle4 {
            text-align: center;
            font-size: x-small;
            min-width: 25px;
            max-width: 25px;
            color: lightblue;
        }



        .tdStyle1 {
            font-size: smaller;
            text-align: center;
            color: dodgerblue;
            background-color: #F5F5F5;
            min-width: 30px;
        }

        .tdStyle2 {
            font-size: smaller;
        }

        .tdStyle3 {
            text-align: center;
            font-size: small;
            min-width: 25px;
            max-width: 25px;
        }

        .tdStyle4 {
            text-align: center;
            font-size: small;
            min-width: 25px;
            max-width: 25px;
            color: white;
        }

        .tdStyle5 {
            text-align: center;
            font-size: small;
            background-color: #F8F8F8;
            min-width: 25px;
            max-width: 25px;
        }

        .tdStyle6 {
            text-align: center;
            font-size: small;
            background-color: #F8F8F8;
            color: #F8F8F8;
            min-width: 25px;
            max-width: 25px;
        }




        .tfstyle1 {
            font-size: smaller;
            text-align: center;
            /*background-color:darkgray;*/
            color: white;
            min-width: 30px;
        }

        .tfstyle2 {
            font-size: x-small;
            text-align: right;
            color: dodgerblue;
        }

        .tfstyle3 {
            text-align: center;
            font-size: small;
            min-width: 25px;
            max-width: 25px;
        }

        .tfstyle4 {
            color: white;
            text-align: center;
            font-size: small;
            min-width: 25px;
            max-width: 25px;
        }

        .tfstyle5 {
            background-color: yellow;
            text-align: center;
            font-size: small;
            min-width: 25px;
            max-width: 25px;
        }


        .tab {
            overflow: hidden;
            width: 100%;
            text-align: center;
        }

            /* Style the buttons that are used to open the tab content */
            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
            }

                /* Change background color of buttons on hover */
                .tab button:hover {
                    background-color: lightcoral;
                }

                /* Create an active/current tablink class */
                .tab button.active {
                    background-color: lightblue;
                }

        /* Style the tab content */
        .tabcontent {
            display: none;
            border-top: none;
        }

        .itcad {
            background-color: lightblue !important;
        }

        .itcac {
            color: #367EAD !important;
        }

        .itcae {
            color: lightblue !important;
        }

        .itcaf {
            color: #367EAD !important;
        }

        .itcak {
            color: darkorange !important;
        }

        .ithae {
            font-size: smaller;
            text-align: center;
            color: #367EAD;
            border-bottom: solid;
            border-bottom-width: thin;
            border-bottom-color: lightgray;
        }

        .itmapdiv {
            background-color: white !important;
        }
    </style>
</head><!--/head-->
<body>
    

    <div class="mainpart">
        @Html.Partial("_mainDetailb")
    </div>
    <br />
    <br />

    <div class="lckbckscr">
        
        Under Construction
        
    </div>

    


<section>
    <footer id="footer" class="itcad">
        <div class="container">
            @Html.Partial("_mainFooter")
        </div>
    </footer><!--/#footer-->
</section>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<!--/# data handler java script-->
<!--/# data handler java script-->
<script src="~/js/uhsHome/jquery.js"></script>
<script src="~/js/uhsHome/bootstrap.min.js"></script>
<script src="~/js/datahandler1010001.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
            $(document).ready(function () {
                $("#datepicker").datepicker();
            });
</script>
<!-- iCheck -->
<script src="~/vendors/iCheck/icheck.min.js"></script>

<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script src="~/js/uhsHome/owl.carousel.min.js"></script>
<script src="~/js/uhsHome/mousescroll.js"></script>
<script src="~/js/uhsHome/smoothscroll.js"></script>
<script src="~/js/uhsHome/jquery.prettyPhoto.js"></script>
<script src="~/js/uhsHome/jquery.isotope.min.js"></script>
<script src="~/js/uhsHome/jquery.inview.min.js"></script>
<script src="~/js/uhsHome/wow.min.js"></script>

<script src="~/js/uhsHome/main.js"></script>


</body>
</html>