@model List<TRIZMA.Models.agentsProjDistDb>


@foreach (var item in Model)
{
    
        ViewBag.agentProjID = @item.projectID;
    
        <li>
            <a>@item.projectName<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu">               
                    @Html.Action("agentsTOs", "formsCRUD", new { id = item.projectID } )
            </ul>
        </li>
        }

