
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="OverallBuilding" style="padding-bottom:60px">
    <div class="alert alert-info">
        <span style="color:steelblue"><strong>OVERALL </strong></span><span style="color:darkorange"><strong> BUILDING</strong></span>
    </div>
    <div class="row">
        <!--/# panel single start-->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img src="~/images/VWPstandards/OverallBuilding_Facilities.png" class="responsiveb" />
                </div>
                <div class="panel-heading" style="font-size:16px">
                    <b>Facilities</b>
                </div>
                <div class="panel-body" style="font-size:14px">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            1.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Security doors locked from outside at all times, alarm set when building is vacated.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            2.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            District has a posted cleaning schedule with a janitorial service and/or district team members.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            3.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            All burnt out lights and ballasts to be replaced at least once a quarter.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            4.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Temperature maintained between 70-76 in summer and 66-70 in winter (programmable thermostats set for off hours).
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            5.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            HVAC maintenance contract in place.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            6.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Pest control contract in place.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            7.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Floors, walls and ceilings in good condition and free of dust, dirt, stains, holes, dents, cracks, peeling paint and structural issues.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            8.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Most recent District UHS logo at front and back doors.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            9.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            District welcome sign at main entrance and separate Surgical Services welcome sign if appropriate.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/# panel single end-->
        <!--/# panel single start-->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img src="~/images/VWPstandards/OverallBuilding_FrontOffice.png" class="responsiveb" />
                </div>
                <div class="panel-heading" style="font-size:16px">
                    <b>Front Office</b>
                </div>
                <div class="panel-body" style="font-size:14px">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            1.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            All office work stations neat and well organized.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            2.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            At least one designated work station for visiting UHS employees.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            3.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Conference room equipped with conference table, white board, phone and monitor/projector.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            4.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Office supplies are organized and stored neatly in designated/labeled areas including labels on drawers and cabinet doors.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            5.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Break room kept clean with supplies organized and stored neatly in designated/labeled areas including labels on drawers and cabinet doors.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            6.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Knowledge board(s) updated with District information and activities such as work schedules, District performance and Corporate notices.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            7.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Compliance Board updated with State Poster, Federal All in One Labor Law, Bloodborne Pathogens and UHS HR Kit.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            8.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Quality Policy signed by Team and posted.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/# panel single end-->
    </div>    
    <div class="row">
        <!--/# panel single start-->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img src="~/images/VWPstandards/OverallBuilding_ProcessingCenterBackOffice.png" class="responsiveb" />
                </div>
                <div class="panel-heading" style="font-size:16px">
                    <b>Processing Center / Back Office</b>
                </div>
                <div class="panel-body" style="font-size:14px">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            1.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            The Processing Center (Back Office) organized to create smooth flow of equipment.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            2.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Equipment stored separately in labeled/designated locations according to status (DI, DS, DB).
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            3.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Each floor area taped per appropriate color code (see Appendix 2).
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            4.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            All aisles and walk ways kept clear.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/# panel single end-->
        <!--/# panel single start-->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img src="~/images/VWPstandards/OverallBuilding_Safety.png" class="responsiveb" />
                </div>
                <div class="panel-heading" style="font-size:16px">
                    <b>Safety</b>
                </div>
                <div class="panel-body" style="font-size:14px">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            1.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            PPE requirements posted in Cleaning, Inspection and Repair areas (see Appendix 3).
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            2.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            PPE accessible to all employees.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            3.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Evacuation plan and tornado shelter communicated and posted (see Appendix 4).
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            4.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Fire extinguishers, electric panels, eye wash stations, first aid kits and SDS holders are clearly marked and free from obstacles.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            5.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Exit signs and emergency lighting present and functioning.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            6.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Gas cylinders secured and clearly marked.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/# panel single end-->
        <!--/# panel single start-->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img src="~/images/VWPstandards/OverallBuilding_WasteRemovalRecycling.png" class="responsiveb" />
                </div>
                <div class="panel-heading" style="font-size:16px">
                    <b>Waste Removal & Recycling</b>
                </div>
                <div class="panel-body" style="font-size:14px">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            1.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            District has garbage and recycling service.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            2.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Office has paper shredder or service.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            3.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Electronic waste (circuit boards, batteries etc.) disposed of through an authorized service.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            4.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Excess used cardboard boxes and pallets disposed of to avoid pileups.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/# panel single end-->
    </div>
</div>



