
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="OtherStandards" style="padding-bottom:60px">
    <div class="alert alert-info">
        <span style="color:steelblue"><strong>OTHER </strong></span><span style="color:darkorange"><strong> STANDARDS</strong></span>
    </div>
    <div class="row">
        <!--/# panel single start-->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img src="~/images/VWPstandards/OtherStandards_QMSHold.png" class="responsiveb" />
                </div>
                <div class="panel-heading" style="font-size:16px">
                    <b>QMS Hold</b>
                </div>
                <div class="panel-body" style="font-size:14px">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            1.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            District has a dedicated QMS Hold area that is contained, controlled and labeled.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            2.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            All items in QMS Hold have documentation attached to indicate status.
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <!--/# panel single end-->
        <!--/# panel single start-->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img src="~/images/VWPstandards/OtherStandards_RedTagArea.png" class="responsiveb" />
                </div>
                <div class="panel-heading" style="font-size:16px">
                    <b>Red Tag Area</b>
                </div>
                <div class="panel-body" style="font-size:14px">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            1.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            District has an allocated red tag area.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            2.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            District has the necessary red tags and red tag log.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/# panel single end-->
        <!--/# panel single start-->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img src="~/images/VWPstandards/OtherStandards_HuddleArea.png" class="responsiveb" />
                </div>
                <div class="panel-heading" style="font-size:16px">
                    <b>Huddle Area</b>
                </div>
                <div class="panel-body" style="font-size:14px">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            1.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            District has designated huddle time(s) and area for both dept. 56 and dept. 74 (can be separate or shared).
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            2.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            For Dept. 74, huddle should include tools to communicate daily plan, such as routing and DI processing goal.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            3.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            For Dept. 56, huddle should include tools to communicate daily plan, such as high priority repairs and technician coverage.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/# panel single end-->

    </div>
    <div class="row">
        <!--/# panel single start-->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img src="~/images/VWPstandards/OtherStandards_FleetVehicles.png" class="responsiveb" />
                </div>
                <div class="panel-heading" style="font-size:16px">
                    <b>Fleet Vehicles</b>
                </div>
                <div class="panel-body" style="font-size:14px">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            1.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Exterior and interior are clean, in good condition and free of debris/clutter.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            2.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            All vehicle systems, accessories, and supplies are present, operational and in good condition, such as lights/signals, PPE and ratchet straps/bed transport cover.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            3.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            All internal/external decals and notifications present and in good condition such as UHS logo, DOT # or Vehicle Does Not Leave State (where appropriate), Diver Alert and <70MPH.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            4.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Required documentation is current and present such as insurance card, vehicle registration, DVIR and short haul script.
                        </div>
                    </div>                  
                </div>
            </div>
        </div>
        <!--/# panel single end-->
        <!--/# panel single start-->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img src="~/images/VWPstandards/OtherStandards_SustainmentTools.png" class="responsiveb" />
                </div>
                <div class="panel-heading" style="font-size:16px">
                    <b>Sustainment Tools</b>
                </div>
                <div class="panel-body" style="font-size:14px">

                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            1.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            District has equipment work flow diagrams showing how each equipment type flows through the Processing Center (see Appendix 5).
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            2.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            District has Gemba Walk check list (see Appendix 6).
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/# panel single end-->
    </div>
</div>




