


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="PatientReadyEquipment" style="padding-bottom:60px">

    <div class="alert alert-info">
        <span style="color:steelblue"><strong>PATIENT READY </strong></span><span style="color:darkorange"><strong> EQUIPMENT</strong></span>
    </div>
    <div class="row">
        <!--/# panel single start-->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img src="~/images/VWPstandards/PatientReadyEquipment_PatientReadyArea.png" class="responsiveb" />
                </div>
                <div class="panel-heading" style="font-size:16px">
                    <b>Patient Ready Area</b>
                </div>
                <div class="panel-body" style="font-size:14px">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            1.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Patient ready equipment area is designated with DS Patient Ready Staged overhead signage.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            2.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Patient Ready Area 6S Checklist posted.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            3.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            All Equipment covered with clear bags where applicable.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/# panel single end-->
        <!--/# panel single start-->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img src="~/images/VWPstandards/PatientReadyEquipment_Beds.png" class="responsiveb" />
                </div>
                <div class="panel-heading" style="font-size:16px">
                    <b>Beds</b>
                </div>
                <div class="panel-body" style="font-size:14px">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            1.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Beds stored so that each bed can be accessed from an aisle and without moving other equipment.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            2.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Bed area labeled with type of bed stored.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            3.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Clear bed bags stored near beds according to process.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/# panel single end-->
        <!--/# panel single start-->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img src="~/images/VWPstandards/PatientReadyEquipment_VentsBillLightsIsolettesMonitors.png" class="responsiveb" />
                </div>
                <div class="panel-heading" style="font-size:16px">
                    <b>Vents, Bili Lights, Isolettes & Monitors</b>
                </div>
                <div class="panel-body" style="font-size:14px">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            1.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Vents stored in FIFO lanes as well as other castered equipment where applicable.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            2.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            All lanes labeled with type of equipment stored.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            3.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            The direction of FIFO shown, using arrows at front and back of lane.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            4.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Overhead hanging power strips or reel with electric outlets.
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
        <!--/# panel single end-->

    </div>
    <div class="row">
        <!--/# panel single start-->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img src="~/images/VWPstandards/PatientReadyEquipment_InfusionPumpsOtherMME.png" class="responsiveb" />
                </div>
                <div class="panel-heading" style="font-size:16px">
                    <b>Infusion Pumps & Other MME</b>
                </div>
                <div class="panel-body" style="font-size:14px">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            1.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Similar product types grouped together.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            2.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Each metro cart labeled with an A4 size paper indicating what is on each shelf.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            3.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Each shelf labeled to show equipment stored (picture, description, prefix).
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            4.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Wound Vac Sign with storage instructions where applicable.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/# panel single end-->
        <!--/# panel single start-->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img src="~/images/VWPstandards/PatientReadyEquipment_MattressesBlowers.png" class="responsiveb" />
                </div>
                <div class="panel-heading" style="font-size:16px">
                    <b>Mattresses & Blowers</b>
                </div>
                <div class="panel-body" style="font-size:14px">

                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            1.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Adequate space provided to store each mattress and blower type.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            2.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Mattresses and blowers are organized and stored neatly in a designated/labeled area.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            3.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Heavy mattresses stored where they can be easily handled.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            4.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Blowers stored near mattresses.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/# panel single end-->
        <!--/# panel single start-->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img src="~/images/VWPstandards/PatientReadyEquipment_SpecialtyEquipment.png" class="responsiveb" />
                </div>
                <div class="panel-heading" style="font-size:16px">
                    <b>Specialty Equipment (Wheelchairs, Commodes, Lifts, IV Poles)</b>
                </div>
                <div class="panel-body" style="font-size:14px">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            1.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Designated area for specialty equipment.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            2.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Labeling to indicate type of equipment stored.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            3.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Equipment organized and stored neatly.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/# panel single end-->
    </div>

</div>



