


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="BERD" style="padding-bottom:60px">

    <div class="alert alert-info">
        <span style="color:steelblue"><strong>BIOMED EQUIPMENT REPAIR DEPARTMENT </strong></span><span style="color:darkorange"><strong> (BERD)</strong></span>
    </div>
    <div class="row">
        <!--/# panel single start-->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img src="~/images/VWPstandards/BERD_TechBenches.png" class="responsiveb" />
                </div>
                <div class="panel-heading" style="font-size:16px">
                    <b>Tech Benches</b>
                </div>
                <div class="panel-body" style="font-size:14px">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            1.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            All items on bench organized and stored neatly in designated/labeled areas.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            2.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Each bench must have ESD (Electrostatic Discharge) Wrist Strap with ground cable and mat or grounded surface.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            3.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Each bench must have at least one ESD conductive bin with ESD susceptible stickers applied and access to static shield bags.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            4.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Test devices assigned to benches are organized and stored neatly in a designated/labeled area.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            5.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            No files and post-it notes on bench, all paper work organized and stored neatly.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            6.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            All tools organized and stored neatly in a designated/labeled area within toolboxes with drawers labeled according to contents.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/# panel single end-->
        <!--/# panel single start-->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img src="~/images/VWPstandards/BERD_PartsInventory.png" class="responsiveb" />
                </div>
                <div class="panel-heading" style="font-size:16px">
                    <b>Parts Inventory</b>
                </div>
                <div class="panel-body" style="font-size:14px">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            1.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            All product code 2 in blue, code 3 in yellow, code 7 in red and Manufacturer Services parts in green bins.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            2.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Manufacturer Services parts are organized and stored neatly in a designated/labeled area.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            3.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Each metro cart/rack labeled with an A4 size paper indicating type of repair part housed including a color code guide (what color represents which product code).
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            4.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Non-inventory/harvested parts are labeled, organized and stored neatly in black bins.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            5.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Each part bin labeled with part name, vendor part, UHS stock # and product code.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/# panel single end-->
             
    </div>
    <div class="row">
        <!--/# panel single start-->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img src="~/images/VWPstandards/BERD_TestDevicesSharedTools.png" class="responsiveb" />
                </div>
                <div class="panel-heading" style="font-size:16px">
                    <b>Test Devices & Shared Tools</b>
                </div>
                <div class="panel-body" style="font-size:14px">

                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            1.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Designated cleaning area complete with DI Waiting to be Cleaned and Cleaning Station overhead signage.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            2.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Cleaning Area 6S Checklist posted (Appendix 1).
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            3.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            MME organized and stored neatly on designated/labeled metro carts.
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!--/# panel single end-->
        <!--/# panel single start-->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img src="~/images/VWPstandards/BERD_EquipmentFlow.png" class="responsiveb" />
                </div>
                <div class="panel-heading" style="font-size:16px">
                    <b>Equipment Flow</b>
                </div>
                <div class="panel-body" style="font-size:14px">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            1.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Designated repair area complete with Repair Station and DB In Repair Status overhead signage.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            2.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            BERD Area 6S Checklist posted.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            3.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            EPA (Electrostatic Protected Area) areas must have parameter clearly marked using ESD floor tape.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            4.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Metro carts for equipment pending evaluation, evaluation complete, AWP and parts on hand awaiting repair are organized, stored neatly and labelled accordingly.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            5.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Beds and mattresses are organized and stored neatly in designated/labeled areas.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            6.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Vents, other castered and specialty equipment are organized and stored neatly in designated/labeled areas.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            7.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Work orders must be attached to all incoming equipment.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            8.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Customer damaged equipment blue tagged and tag kept with equipment.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/# panel single end-->
    </div>

</div>



