
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="SurgicalServices" style="padding-bottom:60px">

    <div class="alert alert-info">
        <span style="color:steelblue"><strong>SURGICAL </strong></span><span style="color:darkorange"><strong> SERVICES</strong></span>
    </div>
    <div class="row">
        <!--/# panel single start-->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img src="~/images/VWPstandards/Surgical_Services_TestingArea.png" class="responsiveb" />
                </div>
                <div class="panel-heading" style="font-size:16px">
                    <b>Testing Area</b>
                </div>
                <div class="panel-body" style="font-size:14px">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            1.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Designated testing area complete with Laser Testing overhead signage.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            2.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Dedicated 220 30amp and 110 20amp volt outlets in testing rooms.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            3.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Utilize black laser curtains if no dedicated testing room.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            4.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Tech bench in testing room.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            5.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Appropriate laser safety signs are posted on door/curtains.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/# panel single end-->
        <!--/# panel single start-->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img src="~/images/VWPstandards/Surgical_Services_TestingRoomLaserTechStation.png" class="responsiveb" />
                </div>
                <div class="panel-heading" style="font-size:16px">
                    <b>Testing Room / Laser Tech Station</b>
                </div>
                <div class="panel-body" style="font-size:14px">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            1.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            All items on tech bench organized and stored neatly in designated/labeled areas.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            2.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            PPE organized and stored neatly in a designated/labeled area for easy access and use (laser eyewear for relative systems).
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            3.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            No files and post-it notes on the tech bench, all paper work organized and stored neatly.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            4.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            All tools organized and stored neatly in a designated/labeled area within toolboxes with drawers labeled according to contents.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            5.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Fasteners, spare scopes and power cords/cables organized and stored neatly in designated/labeled areas, trays or bins.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/# panel single end-->
        <!--/# panel single start-->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img src="~/images/VWPstandards/Surgical_Services_IncomingArea.png" class="responsiveb" />
                </div>
                <div class="panel-heading" style="font-size:16px">
                    <b>Incoming Area</b>
                </div>
                <div class="panel-body" style="font-size:14px">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            1.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Designated incoming area complete with Incoming overhead signage.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            2.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Incoming instrument trays and cases show no visible damage, are organized, stored neatly and properly in a designated/labeled area.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            3.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Incoming instrument trays and cases are labeled with asset tag or sku.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/# panel single end-->

    </div>
    <div class="row">
        <!--/# panel single start-->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img src="~/images/VWPstandards/Surgical_Services_InventoryArea.png" class="responsiveb" />
                </div>
                <div class="panel-heading" style="font-size:16px">
                    <b>Inventory Area</b>
                </div>
                <div class="panel-body" style="font-size:14px">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            1.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Designated inventory area complete with overhead Inventory signage.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            2.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Inventory to be protected from dust/contaminants (mobile shelving cover).
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            3.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Each metro cart labeled with an A4 size paper indicating what is on each shelf.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            4.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Every shelf labeled to show product stored (UHS #, Manufacturer/Ref # and Description).
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            5.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Inventory with expiration dates to be stored in chronological order.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            6.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            No mixed, damaged or expired products.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            7.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Designated/labeled area for expired inventory complete with disposition tags.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/# panel single end-->
        <!--/# panel single start-->
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <img src="~/images/VWPstandards/Surgical_Services_PatientReadyArea.png" class="responsiveb" />
                </div>
                <div class="panel-heading" style="font-size:16px">
                    <b>Patient Ready Area</b>
                </div>
                <div class="panel-body" style="font-size:14px">

                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            1.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Designated patient ready area complete with Patient Ready overhead signage.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            2.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Fiber supplies stored neatly and properly for shipment (polybags, cases etc.).
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            3.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Accessory cases partnered with designated lasers.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            4.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            Lasers covered with static shield bags.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            5.
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="padding-bottom:5px">
                            No damaged lasers in Patient Ready Area.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/# panel single end-->
        
    </div>

</div>



