<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>\\TDMZWEBDEV.int.uhs.com\www\uhssource\</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>TDMZWEBDEV.int.uhs.com</MSDeployServiceURL>
    <DeployIisAppPath>uhsdigit</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>UHS\jovanovicn</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="UHSDMSQLSERV1Connection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TRIZMA.UHSDMSQLSERV1dataModel, TRIZMA" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DATAOPBConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TRIZMA.DATAOPBdataModel, TRIZMA" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DATAOPAConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TRIZMA.DATAOPAdataModel, TRIZMA" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="VIEWdataConnection" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TRIZMA.VIEWdataModel, TRIZMA" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CRUDdataConnection" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="TRIZMA.Models.ApplicationDbContext, TRIZMA" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="UHSTRIZMAConnection" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=Tdmzsql.int.uhs.com;Initial Catalog=UHS_TRIZMA;User ID=TRIZMA;Password=readonly;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\UHSTRIZMAConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=Tdmzsql.int.uhs.com;initial catalog=UHS_TRIZMA;user id=TRIZMA;password=readonly;multipleactiveresultsets=True;application name=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CRUDdataConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DATAOPAConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DATAOPBConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)UHSDMSQLSERV1Connection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VIEWdataConnection-Web.config Connection String" />
  </ItemGroup>
</Project>