/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [ID]
      ,[projid]
      ,[tskoid]
      ,[dcgrid]
      ,[dctpid]
      ,[tspdid]
      ,[distid]
      ,[distnm]
      ,[acctid]
      ,[userid]
      ,[usernm]
      ,[tstp01]
      ,[tstp011]
      ,[tstp012]
      ,[tstp013]
      ,[tstp014]
      ,[tstp015]
      ,[tstp016]
      ,[tstp017]
      ,[tstp02]
      ,[tstp021]
      ,[tstp022]
      ,[tstp023]
      ,[tstp024]
      ,[tstp025]
      ,[tstp026]
      ,[tstp027]
      ,[tstp03]
      ,[tstp031]
      ,[tstp032]
      ,[tstp033]
      ,[tstp034]
      ,[tstp035]
      ,[tstp036]
      ,[tstp037]
      ,[tstp04]
      ,[tstp041]
      ,[tstp042]
      ,[tstp043]
      ,[tstp044]
      ,[tstp045]
      ,[tstp046]
      ,[tstp047]
      ,[tstp05]
      ,[tstp051]
      ,[tstp052]
      ,[tstp053]
      ,[tstp054]
      ,[tstp055]
      ,[tstp056]
      ,[tstp057]
      ,[tstp06]
      ,[tstp061]
      ,[tstp062]
      ,[tstp063]
      ,[tstp064]
      ,[tstp065]
      ,[tstp066]
      ,[tstp067]
      ,[tstp07]
      ,[tstp071]
      ,[tstp072]
      ,[tstp073]
      ,[tstp074]
      ,[tstp075]
      ,[tstp076]
      ,[tstp077]
      ,[tstp08]
      ,[tstp081]
      ,[tstp082]
      ,[tstp083]
      ,[tstp084]
      ,[tstp085]
      ,[tstp086]
      ,[tstp087]
      ,[tstp09]
      ,[tstp091]
      ,[tstp092]
      ,[tstp093]
      ,[tstp094]
      ,[tstp095]
      ,[tstp096]
      ,[tstp097]
      ,[tstp10]
      ,[tstp101]
      ,[tstp102]
      ,[tstp103]
      ,[tstp104]
      ,[tstp105]
      ,[tstp106]
      ,[tstp107]
      ,[tstp11]
      ,[tstp111]
      ,[tstp112]
      ,[tstp113]
      ,[tstp114]
      ,[tstp115]
      ,[tstp116]
      ,[tstp117]
      ,[tstp12]
      ,[tstp121]
      ,[tstp122]
      ,[tstp123]
      ,[tstp124]
      ,[tstp125]
      ,[tstp126]
      ,[tstp127]
      ,[tstp13]
      ,[tstp131]
      ,[tstp132]
      ,[tstp133]
      ,[tstp134]
      ,[tstp135]
      ,[tstp136]
      ,[tstp137]
      ,[tstp14]
      ,[tstp141]
      ,[tstp142]
      ,[tstp143]
      ,[tstp144]
      ,[tstp145]
      ,[tstp146]
      ,[tstp147]
      ,[tstp15]
      ,[tstp151]
      ,[tstp152]
      ,[tstp153]
      ,[tstp154]
      ,[tstp155]
      ,[tstp156]
      ,[tstp157]
      ,[tstp16]
      ,[tstp161]
      ,[tstp162]
      ,[tstp163]
      ,[tstp164]
      ,[tstp165]
      ,[tstp166]
      ,[tstp167]
      ,[tstp17]
      ,[tstp171]
      ,[tstp172]
      ,[tstp173]
      ,[tstp174]
      ,[tstp175]
      ,[tstp176]
      ,[tstp177]
      ,[tstp18]
      ,[tstp181]
      ,[tstp182]
      ,[tstp183]
      ,[tstp184]
      ,[tstp185]
      ,[tstp186]
      ,[tstp187]
      ,[chck]
      ,[chckid]
      ,[chcknm]
      ,[chckdt]
      ,[yyyy]
      ,[yyyymm]
      ,[weeknr]
      ,[weekds]
      ,[yyyymmdd]
      ,[hhmmss]
      ,[crdt]
      ,[eddt]
      ,[crusid]
      ,[edusid]
      ,[crusnm]
      ,[edusnm]
      ,[allCheck]
      ,[dayCheck]
      ,[weekCheck]
      ,[ts6s01]
      ,[ts6s011]
      ,[ts6s012]
      ,[ts6s013]
      ,[ts6s014]
      ,[ts6s015]
      ,[ts6s016]
      ,[ts6s017]
      ,[ts6s02]
      ,[ts6s021]
      ,[ts6s022]
      ,[ts6s023]
      ,[ts6s024]
      ,[ts6s025]
      ,[ts6s026]
      ,[ts6s027]
      ,[ts6s03]
      ,[ts6s031]
      ,[ts6s032]
      ,[ts6s033]
      ,[ts6s034]
      ,[ts6s035]
      ,[ts6s036]
      ,[ts6s037]
      ,[ts6s04]
      ,[ts6s041]
      ,[ts6s042]
      ,[ts6s043]
      ,[ts6s044]
      ,[ts6s045]
      ,[ts6s046]
      ,[ts6s047]
      ,[ts6s05]
      ,[ts6s051]
      ,[ts6s052]
      ,[ts6s053]
      ,[ts6s054]
      ,[ts6s055]
      ,[ts6s056]
      ,[ts6s057]
      ,[ts6s06]
      ,[ts6s061]
      ,[ts6s062]
      ,[ts6s063]
      ,[ts6s064]
      ,[ts6s065]
      ,[ts6s066]
      ,[ts6s067]
      ,[ts6s07]
      ,[ts6s071]
      ,[ts6s072]
      ,[ts6s073]
      ,[ts6s074]
      ,[ts6s075]
      ,[ts6s076]
      ,[ts6s077]
      ,[ts6s08]
      ,[ts6s081]
      ,[ts6s082]
      ,[ts6s083]
      ,[ts6s084]
      ,[ts6s085]
      ,[ts6s086]
      ,[ts6s087]
      ,[ts6s09]
      ,[ts6s091]
      ,[ts6s092]
      ,[ts6s093]
      ,[ts6s094]
      ,[ts6s095]
      ,[ts6s096]
      ,[ts6s097]
      ,[ts6s10]
      ,[ts6s101]
      ,[ts6s102]
      ,[ts6s103]
      ,[ts6s104]
      ,[ts6s105]
      ,[ts6s106]
      ,[ts6s107]
      ,[ts6s11]
      ,[ts6s111]
      ,[ts6s112]
      ,[ts6s113]
      ,[ts6s114]
      ,[ts6s115]
      ,[ts6s116]
      ,[ts6s117]
      ,[ts6s12]
      ,[ts6s121]
      ,[ts6s122]
      ,[ts6s123]
      ,[ts6s124]
      ,[ts6s125]
      ,[ts6s126]
      ,[ts6s127]
      ,[ts6s13]
      ,[ts6s131]
      ,[ts6s132]
      ,[ts6s133]
      ,[ts6s134]
      ,[ts6s135]
      ,[ts6s136]
      ,[ts6s137]
      ,[ts6s14]
      ,[ts6s141]
      ,[ts6s142]
      ,[ts6s143]
      ,[ts6s144]
      ,[ts6s145]
      ,[ts6s146]
      ,[ts6s147]
      ,[ts6s15]
      ,[ts6s151]
      ,[ts6s152]
      ,[ts6s153]
      ,[ts6s154]
      ,[ts6s155]
      ,[ts6s156]
      ,[ts6s157]
      ,[ts6s16]
      ,[ts6s161]
      ,[ts6s162]
      ,[ts6s163]
      ,[ts6s164]
      ,[ts6s165]
      ,[ts6s166]
      ,[ts6s167]
      ,[ts6s17]
      ,[ts6s171]
      ,[ts6s172]
      ,[ts6s173]
      ,[ts6s174]
      ,[ts6s175]
      ,[ts6s176]
      ,[ts6s177]
      ,[ts6s18]
      ,[ts6s181]
      ,[ts6s182]
      ,[ts6s183]
      ,[ts6s184]
      ,[ts6s185]
      ,[ts6s186]
      ,[ts6s187]
      ,[sallCheck]
      ,[sdayCheck]
      ,[sweekCheck]
  FROM [DATAOPB].[dbo].[UHSGWL01v]



  alter table [DATAOPA].[dbo].[UHSGWL01]
  drop column
   [ts6s12]
      ,[ts6s121]
      ,[ts6s122]
      ,[ts6s123]
      ,[ts6s124]
      ,[ts6s125]
      ,[ts6s126]
      ,[ts6s127]
      ,[ts6s13]
      ,[ts6s131]
      ,[ts6s132]
      ,[ts6s133]
      ,[ts6s134]
      ,[ts6s135]
      ,[ts6s136]
      ,[ts6s137]
      ,[ts6s14]
      ,[ts6s141]
      ,[ts6s142]
      ,[ts6s143]
      ,[ts6s144]
      ,[ts6s145]
      ,[ts6s146]
      ,[ts6s147]
      ,[ts6s15]
      ,[ts6s151]
      ,[ts6s152]
      ,[ts6s153]
      ,[ts6s154]
      ,[ts6s155]
      ,[ts6s156]
      ,[ts6s157]
      ,[ts6s16]
      ,[ts6s161]
      ,[ts6s162]
      ,[ts6s163]
      ,[ts6s164]
      ,[ts6s165]
      ,[ts6s166]
      ,[ts6s167]
      ,[ts6s17]
      ,[ts6s171]
      ,[ts6s172]
      ,[ts6s173]
      ,[ts6s174]
      ,[ts6s175]
      ,[ts6s176]
      ,[ts6s177]
      ,[ts6s18]
      ,[ts6s181]
      ,[ts6s182]
      ,[ts6s183]
      ,[ts6s184]
      ,[ts6s185]
      ,[ts6s186]
      ,[ts6s187]
