

<li class="">

    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Account
        <span class="fa fa-angle-down"></span>
    </a>
    <ul class="dropdown-menu dropdown-usermenu pull-right">
        <li><a href="javascript:;"> Profile</a></li>
        <li>
            <a href="javascript:;">
                <span>Settings</span>
            </a>
        </li>
        <li><a href="javascript:;">Help</a></li>
        <li>
        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>

        </li>
    </ul>

</li>
