@*<div class="profile_pic">
    <img src="~/images/employee/@(ViewBag.photoID)" alt="..." class="img-circle profile_img" />
    </div>*@
<div class="profile_info">
    <span>Welcome,</span>
    <h2 style="font-weight:lighter; font-size:small; color:antiquewhite">@ViewBag.ItemUN2</h2>
</div>
